<div class="container">

                  <div class="card">
                    <!-- image is optional -->
                    <div class="card-image">
                        <!-- Added div wrapper to create dark gradient -->
                        <div class="card-image-gradient"> 
                            <img src="/images/assembly.jpg">
                        </div>
                        <span class="card-title"><h1>Opening Ceremony</h1></span>
                      <!-- USER ONLY - Initialize page with appropriate state of button -->
                      <a onclick='toggleInterest(this, "{{ event_id }}")' class="btn-floating btn-large halfway-fab waves-effect waves-light scale-transition scale-in blue"><i class="material-icons">star_border</i></a>
                      <!-- <a onclick='toggleInterest(this, "{{ event_id }}"))'class="btn-floating btn-large halfway-fab waves-effect waves-light scale-transition scale-in yellow"><iclass="material-icons">star</i></a> -->
                        
                    </div>
                    <div class="card-content">

                        <table class="centered responsive-table">
                            <thead>
                                <tr>
                                <th>Location </th>
                                <th>Date / Time </th>
                                <th>Duration</th>
                                <th>Type </th>
                                <th>Interest </th>
                                <!-- ADMIN ONLY BUTTONS -->
                                <th>Admin Op</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                <td>Auditorium</td>
                                <td>May 1 (Sat) 10:30 AM</td>
                                <td>30m</td>
                                <td>Main</td>
                                <td>100<i class=material-icons>people</i></td>
                                <!-- ADMIN ONLY BUTTONS -->

                                <td nowrap>
                                  
                                    <!-- Alternatively to going to a new page, trigger a modal ??-->
                                    <a class="btn-floating waves-effect waves-light green lighten-1" href="/eventform.html"><i class="material-icons">edit</i></a>
                                    <a class="btn-floating waves-effect waves-light red" onclick='confirmDelete("Opening Ceremony","{{ event_id}}", "/events.html")'><i class="material-icons">delete</i></a>
        
                                </td>

                            </tbody>
                        </table>
                        <div class="container event-description">The opening ceremony will be rad! Don't miss it. Or you're technically late.</div>
                        
                        
                        <!-- TODO: Add a scrollable table (or series of cards??) listing the attendees who are interested -->
                        <!-- https://vembarrajan.medium.com/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc -->
                    </div>
                  </div>
            
    
        </div>

        <script src="/js/event_utils.js"></script>